@import url('familjen-grotesk.css');

/* Setup Scrolling */
html,
body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Panel Defaults */
.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  box-sizing: border-box;

  padding: 3em;
}

h1 {
  font-family: 'FamiljenGrotesk-Italic';
  font-size: 2em;
  font-weight: 400; 
  margin: 0;  
}

p {
  font-family: 'FamiljenGrotesk-Regular';
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  text-align: center;
  background-color: blanchedalmond; 
  opacity: .7;
}

.monster {
  text-decoration: line-through;
}

.funny {
  font-size: x-small;
}

/* Container for Background Images  */
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.one {
  background-image: url("images/field.jpg");
}

.two {
  background-image: url("images/brewery.jpg");
}

.three {
  background-image: url("images/mashtun.jpg");

}

.four {
  background-image: url("images/hopping.jpg");
}

.five {
  background-image: url("images/ferment.jpg");
}

.six {
  background-image: url("images/kegs.jpg");
}

.seven {
  background-image: url("https://picsum.photos/1600/800?random=7");
}


